/* Objects */
.o-list {
  list-style: none;
  padding: 0;
}

/* Elements */
body,
html {
  font-family: 'Degular';
  color: #222;
  background-color: #fff;
}

::selection {
  color: #fff;
  background: #fff;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 1.3rem;
}

/* Components */

.c-current-page {
  font-weight: 700;
}

.c-content {
  padding: 2rem;
  padding-top: 120px;
  position: relative;
}

.c-content-beheren {

  padding: 2rem;
  overflow-y: auto;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  margin-top: 80px;
}

.c-content__title {
  margin: 0;
  font-size: 64px;
  text-align: center;
}

.c-traject,
.c-sensoren {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 1rem 0;
  padding-top: 1rem;
  align-items: center;
  outline: none;
}

.c-traject+.c-traject {
  border-top: 1px solid #eee;
}

.c-traject--header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.c-historiek__id,
.c-datum,
.c-waarde,
.c-commentaar,
.c-device__id,
.c-actie__id,
.c-status__id,
.c-historiekid-waarde,
.c-datum-waarde,
.c-waarde-waarde,
.c-beschrijving-waarde,
.c-device-waarde,
.c-actie-waarde,
.c-status-waarde{
  display: flex;
  justify-content: left;
  text-align: left;
}

.c-button-actief{
  background-color: rgb(83, 184, 108);
  border-radius: 25px;
}

.c-button-deactief{
  background-color: rgb(207, 115, 115);
  border-radius: 25px;
}

.c-form__item label {
  display: inline-block;
  width: 100px;
}

.c-form__item input {
  display: inline-block;
  width: 200px;
}

.c-add-delay {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 1rem 0rem;
}

.c-add-delay__option {
  background-color: #0071b7;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.c-add-delay__option:hover {
  background-color: #1796e6;
}

.c-container {
  position: fixed;
  display:flex;
  justify-content:center;
}

.c-container-index {
  display: flex;
  width: 100%;
  height: 200px;
}

.c-chart {
  width: 33%;
  margin-top: 12%;
}

.c-chart-grafiek {
  margin-top: 5%;
  display:flex;
  justify-content: center;
}

.c-icon,
.c-status,
.c-button-actief,
.c-button-deactief,
.c-beherenid-waarde,
.c-beherensensor__id,
.c-historiekid-waarde,
.c-historiek__id {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 700px) {

  .c-content__title{
    font-size: 48px;
  }

  .c-chart {
    width: 100%;
  }

  .c-container-index {
    display: block;
  }

  .c-content{
    padding-top: 0px;
  }

  .c-content-beheren{
    font-size: 1rem;
  }
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #53bdff;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.topnav a:hover {
  background-color: #ddd;
  color: #1796e6;
}

.topnav a.active {
  background-color: #53bdff;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
